@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #b63e96;
  --color-primary-dark: #58e6d9;
  --animation-spin-slow: spin 8s linear infinite;
  --gradient-primary: linear-gradient(90deg, #b63e96, #58e6d9);

}

@layer utilities {
  .bg-circularLight {
    background-image: repeating-radial-gradient(
      rgba(0, 0, 0, 0.4) 2px,
      #f5f5f5 5px,
      #f5f5f5 100px
    );
  }
}


* {
  font-family: var(--font-montserrat);
}

